/* -------- BRIEF PORTION -------- */
.process-main {
    margin: 5rem 10rem 0rem 10rem;
}
.proj-title {
    /* background-color: blueviolet; */

    /* font-family: 'Catamaran'; */
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 2rem;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.row-summary {
    /* background-color: antiquewhite; */
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    font-size: 1.2rem;
    line-height:2.5rem;

}
.col-description {
    /* background-color: rgb(198, 198, 140); */
    flex: 1;
    padding-right:5rem;
}
/* .col-tools {
    background-color: rgb(233, 161, 55); 
    padding-left: 3rem;
    flex: 1;
} */
.row-center-txt {
    margin:5rem 0 0 0;
    flex-flow: row wrap;
    text-align:center;
}




/* -------- PROCESS PORTION -------- */
.row-main-video {
    display: flex;
    padding: 5rem 0 5rem 0;
    flex-direction: row;
    justify-content: center;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.row-video {
    display: flex;
    padding: 3rem 0 0rem 0;
    flex-direction: row;
    justify-content: center;
}
.main-images {
    /* background-color: aqua; */
    display: flex;
    padding: 3rem 0 2rem 0;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-between;

}
.space-images {
    display: flex;
    padding: 3rem 0 2rem 0;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}
.process-full {
    font-size: 1.2rem;
    margin: 0 0 10rem 0;
}
.row-process-desc {
    display: flex;
    flex-flow: row wrap;
    padding: 3rem 0 3rem 0;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.subtitles {
    flex: 1;

}
.process-write {
    flex: 2;
}



/* -------- PROCESS STUDIES PORTION -------- */
.process-studies {
    display:flex;
    justify-content: space-between;
    flex-flow:row wrap;
    font-size: 1.2rem;

    padding: 7rem 0 3rem 0;
}
.row-process-txt-right {
    text-align: left;
    padding-left:5rem;
    flex: 1;
}
.row-process-txt-left {
    text-align: right;
    padding-right:5rem;
    flex: 1;

}




/* -------- MISC. PORTION -------- */
#sontag-pic {
    border: #c7c7c7;
    border-style: solid;
    border-width: 1px;
}