/* -------- BRIEF PORTION -------- */
.process-main {
    margin: 5rem 10rem 0rem 10rem;
}
.proj-title {
    /* background-color: blueviolet; */

    /* font-family: 'Catamaran'; */
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 2rem;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.row-summary {
    /* background-color: antiquewhite; */
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    font-size: 1.2rem;
    line-height:2.5rem;

}
.col-description {
    /* background-color: rgb(198, 198, 140); */
    flex: 1;
    padding-right:5rem;
}
/* .col-tools {
    background-color: rgb(233, 161, 55); 
    padding-left: 3rem;
    flex: 1;
} */
.row-center-txt {
    margin:5rem 0 0 0;
    flex-flow: row wrap;
    text-align:center;
}




/* -------- PROCESS PORTION -------- */
.row-main-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.main-images {
    /* background-color: aqua; */
    margin-bottom: 5rem;
    margin-top: 5rem;

}
.row-process {
    /* background-color: aquamarine; */
    padding-top: 5rem;

}
.txt-process {
    font-size: 3rem;
}
.process-full {
    font-size: 1.2rem;
    margin-bottom:10rem;
}
.row-process-desc {
    display: flex;
    flex-flow: row wrap;
}
.subtitles {
    flex: 1;

}
.process-write {
    flex: 2;
}