/* -------- BRIEF PORTION -------- */
.process-main {
    margin: 5rem 10rem 0rem 10rem;
}
.proj-title {
    /* background-color: blueviolet; */

    font-family: 'Catamaran';
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 2rem;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.row-summary {
    /* background-color: antiquewhite; */
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 1.2rem;
    line-height:2.5rem;

}
/* .col-description {
    background-color: rgb(198, 198, 140);
}
.col-tools {
    background-color: rgb(233, 161, 55); */
    /* padding-right: 3rem;
} */




/* -------- PROCESS PORTION -------- */
.row-main-images {
    /* background-color: aqua; */
    padding-bottom: 5rem;
    padding-top: 2rem;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.row-process {
    background-color: aquamarine;
    padding-top: 5rem;

}