body {
    margin: 0
}


/* -------- NAV PORTION -------- */

.header {
    background-color:white;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    top: 0;
    position: sticky;
    z-index: 1;

    padding: 2rem 5rem 2rem 5rem
}
nav {
    /* background-color: blue; */

    flex-direction: row;
    justify-content:space-evenly;
}
.nav-link {
    /* background-color:rgb(143, 186, 255); */

    display: inline;
    padding: 1rem 1.25rem 1rem 1.25rem;
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color:#3F26C9;
    cursor: pointer;
}
#icon {
    /* background-color: antiquewhite;     */
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;

}
.a-current {
    color:#3F26C9;
    display:inline;
    font-weight:bold;
}


/* -------- GENERAL PORTION -------- */

.color-txt {
    color:#3F26C9;
    display:inline;
}

.font-cat {
    font-family: 'Catamaran', sans-serif;
}

.font-large {
    font-size: 2rem;
}
img {
    border-radius: 15px;
    vertical-align:top;
}


/* -------- INTRO PORTION -------- */

.intro {
    /* background-color: aquamarine; */

    margin: 5rem 10rem 0rem 10rem;
    padding-bottom: 5rem;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

#name {
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    color:#3F26C9;
}

#summary {
    font-size: 1.25rem;
    margin-right: 4rem;
    line-height: 2rem;
}



/* -------- PROJECTS PORTION -------- */

.main {
    /* background-color: blueviolet; */
    padding: 5rem 10rem 5rem 10rem;
    
}
.posts {
    /* background-color: brown; */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    justify-content: space-between;

}
.post {
    /* background-color: rgb(231, 134, 205); */
    position:relative;
    margin-bottom: 5rem;
}
.main-pic {
    width: 31rem;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    border-radius: 15px;
    margin-bottom: 2rem;

}
  
  .post:hover .overlay {
    opacity: 0.75;


  }
  .overlay-txt {
    color: white;
    opacity: 0%;
    font-size: 2rem;
    font-family: 'Catamaran', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay-subtxt {
    font-size:1.3rem;
  }
.post:hover .overlay-txt {
    opacity: 1;
}



/* -------- PLAY PORTION -------- */
#play-summary {
    font-size: 1.25rem;
    line-height: 2rem;

    margin: 5rem 10rem 0rem 10rem;
    padding-bottom: 3rem;
    border: #c7c7c7;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.play-posts {
    /* background-color: brown; */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items:space-between
}
.play-post {
    position:relative;
    margin: 0rem 0 3rem 0;
}
.play-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 2rem;

}
  
  .play-post:hover .play-overlay {
    opacity: 0.95;

  }
  .play-overlay-txt {
    color: rgb(0, 0, 0);
    opacity: 0%;
    font-size: 1.2rem;
    font-family: 'Catamaran', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.play-post:hover .play-overlay-txt {
    opacity: 1;
}




/* -------- ABOUT PORTION -------- */
.about-row {
    /* background-color: #cac0ff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5rem 10rem 5rem 10rem;
}
.about-col1 {
    /* background-color: #fec0ff; */

    padding: 1rem 5rem 5rem 3rem;
}
.about-col2 {
    /* background-color: #c0f3ff; */

    padding: 1rem 5rem 0rem 5rem
}
#about-summary {
    font-size: 1.25rem;
    line-height: 2rem;
}
.icons {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color:black;
}
#polaroid {
    /* border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa; */
    width: 18rem;
    border-radius: 15px;
    /* vertical-align:middle; */
}



/* -------- RESPONSIVE PORTION -------- */

@media screen and (max-width: 600px){
    .posts {
        flex-direction: column;
    }
    .main {
        padding: 3rem 2rem 3rem 2rem
    }
    .header {
        padding: 3rem 2rem 3rem 2rem
    }
    .intro {
        margin: 3rem 2rem 3rem 2rem
    }
    #play-summary {
        margin: 3rem 2rem 3rem 2rem
    }
    
}
@media screen and (max-width: 800px){
    .about-row {
        flex-wrap: wrap;
        padding: 3rem 2rem 3rem 2rem

    }
    .about-col1 {
        padding: 3rem 2rem 3rem 2rem

    }
    #polaroid {

        width: 10rem;
        vertical-align:middle;
    }
}